.bundledFiles
target/
extensions/
/*.jar
/*.zip

/build/
/dist/

# build components used by NetLogo
GPL.txt
user.properties

# common filenames
.DS_Store

# wildcards
*.class
*.tmp
*_managed/
*~
.#*
\#*
