/build/
/dist/
/models/
target/
*.jar

# build components used by NetLogo
.bundledFiles
GPL.txt
user.properties

# common filenames
.DS_Store

# wildcards
*.class
*.tmp
*_managed/
*~
.#*
\#*

.bundledFiles
